* {
	box-sizing: border-box;
	font-family: 'Jura', sans-serif;
	letter-spacing: 1px;
}

@font-face {
  font-family: 'cassannet_plusregular';
  src: url('../fonts/Cassannet_Plus_Regular.otf');

}

.jumbotron {
	background-color: black;
	color: white;
	position: relative;
	margin: 0;
}
.jumbotron h1 {
  font-size: 150px;
  font-weight: 100;
  letter-spacing: -8px;
  word-spacing: 10px;
  margin-top: 0px;
}

thead {
	margin: 10px;
}

.panel, .panel-primary {
	margin-bottom: 0;
	margin-top: 18px;
}

.panel-primary, .form-control{
	border-color: black;
}

.table>thead>tr>th {
	border-bottom: 1px solid black;
	color: black;
	font-weight: 300;
}
.panel-body {
	overflow: scroll;
}

.panel-primary > .panel-heading {
	background-color: black;
	border-color: black;
}

.btn-primary {
	background-color: black;
	border-color: black;
	background-image: none;
	font-weight: 100;
	letter-spacing: 3px;
	border: none;
}

.btn:hover {
	background-color: #2E281D;
}

.btn:active:focus {
	outline: none;
	background-color: #2E281D;

}
.btn:focus {
	outline: none;
	background-color: #2E281D;
}

i {
	margin: 5px;
	margin-right: 6.5px;
	color:white;
}

.submit-button, .authenticate-button {
	letter-spacing: 4px;
	font-size: 14px;
	font-weight: 100;
}

h4 {
	letter-spacing: 10px;
	word-spacing: 14px;
	font-weight: 100;
	text-align: center;
	font-size: 14px;
	}

.panel-title  {
	letter-spacing: 10px;
	word-spacing: 14px;
	font-weight: 100;
	text-align: left;
	font-size: 14px;
}

label {
	font-weight: 300;
}

/*-------------Login Screen---------*/

.login { 
	height: 100%;
	width: 100%;
	position: absolute;                    /*login screen body*/
	background: url(../images/engine.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.loginHeader > h1 {
	color:white;
	font-size: 150px;
  font-weight: 100;
  letter-spacing: -8px;
  word-spacing: 10px;
  margin-top: 0px;
}

.authenticate-button {
	margin-top: 25px;
}

.loginDiv {
	margin-top: 10em;
}

.login {
  animation: kenburns 25s infinite;
}

@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-50px, -50px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-70px, -80px, 0px);
        opacity: 0;
    }
}

/*----------Media Queries-----------*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
	.jumbotron h1 {
		font-size: 95px;
		letter-spacing: -6px;
	}

	.loginHeader > h1 {
		font-size: 95px;
		letter-spacing: -6px;
	}
	
	h4 {
		letter-spacing: 10px;
		word-spacing: 14px;
		font-weight: 100;
		text-align: center;
	}

	.panel-title  {
		letter-spacing: 10px;
		word-spacing: 14px;
		font-weight: 100;
		text-align: left;
	}
}



/* Extra small devices (phones, up to 480px) */

@media screen and (max-width: 767px) {
	.jumbotron h1 {
		font-size: 63px;
		letter-spacing: -3px;
	}

	.loginHeader > h1 {
		font-size: 63px;
		letter-spacing: -3px;
	}
	
	h4 {
		letter-spacing: 10px;
		word-spacing: 12px;
		font-weight: 200;
		text-align: center;
		font-size: 14px;
	}

 .panel-title {
		letter-spacing: 6px;
		word-spacing: 8px;
		font-weight: 400;
		text-align: left;
		font-size: 9px;
	}

	.table>thead>tr>th, label{
		font-size:9px;
		font-weight: 400;
	}

	.submit-button {
		letter-spacing: 4px;
		font-size: 10px;
		font-weight: 200;
	}
}


/*-----------Hover.css--- Grow Shadow----Log In Button--------- */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*------------Hover.css----Float Shadow----Submit Button------------------*/    


.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}